<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1 class="center">Edit Info</h1>
 <div class="parallax-container join-image"></div>
<div class="container">
  <div class="row join-form">
    <form class="col s12" method="POST" action="/register">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" pattern="[0-9]*" maxlength="5" min="0" id="zipcode"  name="zipcode">
          <label for="zipcode">Zipcode</label><br>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light join-submit-button red" type="submit" name="action">Done</button>
    </form>
  </div>
</div>
<% include ../partials/_footer %>
