  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="../../public/stylesheets/style.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#">Your Profile</a></li>
  <li><a href="#!">Add Your Treasure</a></li>
  <li class="divider"></li>
  <li><a href="#!">View all Treasures</a></li>
</ul>
    <nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">Sidewalk Sailors</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/about">About</a></li>
       <li><a href="/register">Join Our Crew</a></li>
       <li><a href="/login">Login</a></li>
       <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>
     </ul>
   </div>
 </nav>

<body>

    <!-- nav bar -->

    <div class="parallax-container join-image"></div>
<div class="container">
  <div class="row join-form">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password-confirmation" type="password" class="validate">
          <label for="password-confirmation">Password-Confirmation</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light join-submit-button red" type="submit" name="action">Join the Crew!</button>
    </form>
  </div>
</div>




<!-- footer -->
<footer>
 &copy; 2015 Sidewalk Sailors
</footer>
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

</body>
</html>
