<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1>Register</h1>
 <div class="row">
    <form class="col s12" action="/register" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="email" name="username" id="username" type="text" class="validate">
          <label for="username">Email</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="zipcode" name="zipcode" type="zipcode" class="validate">
          <label for="zipcode">Zipcode</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">
         <i class="material-icons">contacts</i> &nbsp;&nbsp;Join Our Crew
      </button>
    </form>
  </div>
<% include ../partials/_footer %>
