
<div class="parallax-container foot">
  <div class="parallax">
    <img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a">
  </div>
</div>
<footer class="black center">
  &copy; 2015 Sidewalk Sailors
</footer>
<!--Import jQuery before materialize.js-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src='/javascripts/client.js'></script>
    <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/slick.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
  </body>
</html>
