<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sidewalk Sailors</title>
    <meta name="description" content="Sharing free stuff with the community">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- Place favicon.ico in the root directory -->
</head>
<body>
