<ul id="dropdown1" class="dropdown-content">
<% if (typeof pirate !='undefined') { %>
  <li><a href="/pirates/<%= pirate.id %>">Your Profile</a></li>
  <li class="divider"></li>
  <li class="divider"></li>
  <li><a href="/treasures/new">Add Your Treasure</a></li>
  <li class="divider"></li>
  <li class="divider"></li>
  <li><a href="/treasures">View all Treasures</a></li>
  <li class="divider"></li>
  <li class="divider"></li>
  <li><a href="/logout">Logout</a></li>
  <li class="divider"></li>

<% }else { %>
  <li><a href="/about">About The Crew</a></li>
  <li class="divider"></li>
  <li class="divider"></li>
  <li><a href="https://en.wikipedia.org/wiki/Piracy">A Pirate's Story</a></li>
  <li class="divider"></li>
  <li class="divider"></li>
<% } %>
</ul>
    <nav>
   <div class="nav-wrapper">
     <a href="/"><img class="brand-logo" src="http://i.imgur.com/VQKbRws.png?1" alt="Sidewalk Sailors"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
    <% if (typeof pirate =='undefined') { %>
       <li><a href="/login">Login</a></li>
       <li><a href="/register">Join Our Crew</a></li>
    <% }else { %>
       <li><a href="/about">About Crew</a></li>
    <% } %>
    <% if (typeof pirate !='undefined') { %>
    <% } %>
       <li><a class="dropdown-button" href="#!" data-activates="dropdown1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Poop Deck<i class="material-icons right">arrow_drop_down</i></a></li>
     </ul>
        <ul class="side-nav" id="mobile-demo">
       <li class="divider"></li>
       <li><a href="/about">About</a></li>
       <li class="divider"></li>
    <% if (typeof pirate !='undefined') { %>
       <li><a href="#">Your Profile</a></li>
       <li class="divider"></li>
       <li class="divider"></li>
       <li><a href="/treasures/new">Add Your Treasure</a></li>
       <li class="divider"></li>
       <li><a href="/treasures">View all Treasures</a></li>
       <li class="divider"></li>
       <li><a href="/logout">Logout</a></li>
       <li class="divider"></li>
       <li class="divider"></li>
    <% }else { %>
       <li><a href="/about">About Crew</a></li>
    <% } %>
      </ul>
   </div>
 </nav>
<div class="parallax-container top-spacer">
  <div class="parallax">
    <img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a">
  </div>
</div>
