<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1><%= title %></h1>

    <div class="parallax-container white">
       <p>Stuff</p>
    </div>
 <!-- http://uifaces.com/ -->
 <div class="row black">
   <div class="col s4 offset-s1">
      <div class="card">
         <div class="card-image about-imgs">
            <img src="/images/about/maria.png" class="   " alt="Captain Maria" width="200">
            <span class="card-title">
               <p>Maria</p>
            </span>
         </div>
         <div class="card-content">
            <h4>Captain Melancholy Roadie Smith</h4>
            About me. I like to party.
         </div>
         <div class="card-action">
            <a href="https://github.com/mariawhen/">Github Account</a>
         </div>
      </div>
   </div>
   <div class="col s4 offset-s1">
      <div class="card">
         <div class="card-image about-imgs">
            <img src="/images/about/jaytee.png" class="   " alt="Captain jaytee" width="200">
            <span class="card-title">
               <p>Jaytee</p>
            </span>
         </div>
         <div class="card-content">
            <h4>Captain Slouchin' Joe Gold Grubbin'</h4>
            About me. I like to party.
         </div>
         <div class="card-action">
            <a href="https://github.com/jayteesanchez/">Github Account</a>
         </div>
      </div>
   </div>
<!-- </div> -->
   <!-- <div class="row black"> -->
      <div class="col s4 offset-s1">
         <div class="card">
            <div class="card-image about-imgs">
               <img src="/images/about/bryan.png" class="   " alt="Captain bryan" width="200">
               <span class="card-title">
                  <p>Bryan</p>
               </span>
            </div>
            <div class="card-content">
               <h4>Captain El Somberero Tijuana</h4>
               About me. I like to party.
            </div>
            <div class="card-action">
               <a href="https://github.com/bgarza/">Github Account</a>
            </div>
         </div>
      </div>
      <div class="col s4 offset-s1">
         <div class="card">
            <div class="card-image about-imgs">
               <img src="/images/about/phil.png" class="   " alt="Captain phil" width="200">
               <span class="card-title">
                  <p>Phil</p>
               </span>
            </div>
             <div class="card-content">
               <h4>Captain George the Sword Test Dummy</h4>
               About me. I like to party.
            </div>
            <div class="card-action">
               <a href="https://github.com/kingluddite/">Github Account</a>
            </div>
         </div>
      </div>
   </div>
</div>
<% include ../partials/_footer %>
