<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1 class="center"><%= title %></h1>

<div class="container white about-blurb">
   <h5>
    Were just a bunch o' pirates from t' LA area with t' same mission...
   </h5>
   <h4>Our mission is to facilitate <a href="https://en.wikipedia.org/wiki/Freecycling">Freecycling!</a></h4>
   <h5>
    <span>Our crew frees up space in landfills and cuts down on t' need t' manufacture new booty.</span>
      <span>Also it results in a lot o' free stuff! Whats better than that?</span>
    <span>Membership be free and it begins with you clickin' t' Join our Crew Link Above.</span>
    <span>Happy Treaaye huntin'!</span>
   </h5>
</div>

<div class="parallax-container top-spacer">
  <div class="parallax">
    <img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a">
  </div>

</div>
 <!-- http://uifaces.com/ -->
 <div class="row">
   <div class="col s3">
      <div class="card">
         <div class="card-image about-imgs">
            <img src="/images/about/maria.png" alt="Captain Maria" width="200">
            <span class="card-title">
               <p>Maria</p>
            </span>
         </div>
         <div class="card-content">
            <h4>Captain Melancholy Roadie Smith</h4>
            The most distinct Laugh in the Seven Seas
         </div>
         <div class="card-action">
            <a href="https://github.com/mariawhen/">Github Account</a>
         </div>
      </div>
   </div>
   <div class="col s3">
      <div class="card">
         <div class="card-image about-imgs">
            <img src="/images/about/jaytee.png" class="   " alt="Captain jaytee" width="200">
            <span class="card-title">
               <p>Jaytee</p>
            </span>
         </div>
         <div class="card-content">
            <h4>Captain Slouchin' Joe Gold Grubbin'</h4>
             Forever on the Search for Shoes
         </div>
         <div class="card-action">
            <a href="https://github.com/jayteesanchez/">Github Account</a>
         </div>
      </div>
   </div>
<!-- </div> -->
   <!-- <div class="row black"> -->
      <div class="col s3">
         <div class="card">
            <div class="card-image about-imgs">
               <img src="/images/about/bryan.png" class="   " alt="Captain bryan" width="200">
               <span class="card-title">
                  <p>Bryan</p>
               </span>
            </div>
            <div class="card-content">
               <h4>Captain El Somberero Tijuana</h4>
               Assasins Creed Black Flag was based on my life
            </div>
            <div class="card-action">
               <a href="https://github.com/bgarza/">Github Account</a>
            </div>
         </div>
      </div>
      <div class="col s3">
         <div class="card">
            <div class="card-image about-imgs">
               <img src="/images/about/phil.png" class="   " alt="Captain phil" width="200">
               <span class="card-title">
                  <p>Phil</p>
               </span>
            </div>
             <div class="card-content">
               <h4>Captain George the Sword Test Dummy</h4>
               My born name is Dee Prowley
            </div>
            <div class="card-action">
               <a href="https://github.com/kingluddite/">Github Account</a>
            </div>
         </div>
      </div>
   </div>

<% include ../partials/_footer %>
