<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1><%= title %></h1>
   <p><%= title %></p>
 <!-- http://uifaces.com/ -->
   <img src="/images/about/maria.jpg" alt="Captain Maria">
   <p>Captain Maria</p>
   <img src="/images/about/jaytee.jpg" alt="Captain Jaytee">
   <p>Captain Jaytee</p>
   <img src="/images/about/phil.jpg" alt="Captain Phil">
   <p>Captain Bryan</p>
   <img src="/images/about/bryan.jpg" alt="Captain Bryan">
   <p>Captain Phil</p>
<% include ../partials/_footer %>
