<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1><%= title %></h1>

    <div class="parallax-container black">
       <p>Stuff</p>
    </div>
 <!-- http://uifaces.com/ -->
 <div class="row">
   <div class="col s4 offset-s1">
      <div class="card">
         <div class="card-image">
            <img src="/images/about/maria.jpg" class="   " alt="Captain Maria" width="200">
            <span class="card-title">
               <p>Captain Melancholy Roadie Smith</p>
            </span>
         </div>
         <div class="card-content">
            About me. I like to party.
         </div>
         <div class="card-action">
            <a href="https://github.com/mariawhen/">Github Account</a>
         </div>
      </div>
   </div>
   <div class="col s4 offset-s2">
      <div class="card">
         <div class="card-image">
            <img src="/images/about/jaytee.jpg" class="   " alt="Captain jaytee" width="200">
            <span class="card-title">
               <p>Captain Slouchin' Joe Gold Grubbin'</p>
            </span>
         </div>
         <div class="card-content">
            About me. I like to party.
         </div>
         <div class="card-action">
            <a href="https://github.com/jayteesanchez/">Github Account</a>
         </div>
      </div>
   </div>
</div>
   <div class="row">
      <div class="col s4 offset-s1">
         <div class="card">
            <div class="card-image">
               <img src="/images/about/bryan.jpg" class="   " alt="Captain bryan" width="200">
               <span class="card-title">
                  <p>Captain El Somberero Tijuana</p>
               </span>
            </div>
            <div class="card-content">
               About me. I like to party.
            </div>
            <div class="card-action">
               <a href="https://github.com/bgarza/">Github Account</a>
            </div>
         </div>
      </div>
      <div class="col s4 offset-s2">
         <div class="card">
            <div class="card-image">
               <img src="/images/about/phil.jpg" class="   " alt="Captain phil" width="200">
               <span class="card-title">
                  <p>Captain Pirate George the Sword Test Dummy</p>
               </span>
            </div>
             <div class="card-content">
               About me. I like to party.
            </div>
            <div class="card-action">
               <a href="https://github.com/kingluddite/">Github Account</a>
            </div>
         </div>
      </div>
   </div>
</div>
<% include ../partials/_footer %>
