
    <% include partials/_head %>
    <% include partials/_nav %>
  <div class="parallax-container index-logo">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a"></div>
  </div>
  <div class="section white index-search">
    <div class="row container search-row index-search">

     <span class="col s4 index-search">
      <h4 class="header index-search">Treasures</h4>
     </span>
     <span class="input-field col s4 index-search">
      <input type ="search" placeholder="zip code"/>
     </span>
     <span class="col s4">
      <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
     </span>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1413834932717-29e7d4714192?q=80&fm=jpg&s=9acc056cc9fe1c2344d5387071d0dc50"></div>
  </div>


    <% include partials/_footer %>


