
    <% include partials/_head %>
    <% include partials/_nav %>
  <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1413834932717-29e7d4714192?q=80&fm=jpg&s=9acc056cc9fe1c2344d5387071d0dc50"></div>
  </div>


    <% include partials/_footer %>


