<% include partials/_head %>

<% include partials/_nav %>

<!-- <div class="section white index-search">
  <div class="row container search-row index-search">
    <span class="col s4 index-search">
      <h4 class="header index-search center">Treasures</h4>
    </span>
    <form>
      <div class="input-field center">
        <input id="search" placeholder="Search by Zip Code" type="search" required>
      </div>
    </form>
    <span class="col s4">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn waves-effect waves-light center" type="submit" name="action">
        Search
      </button><br><br>
    </span>
  </div>
</div> -->

<div class="parallax-container">
  <div class="parallax">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Edward_England.svg/2000px-Flag_of_Edward_England.svg.png" width="100%">
  </div>
</div>

<div class="section white index-search">
  <div class="row container">
    <h4 class="center">Some of our Treasures</h4>
  </div>
</div>

<div class="parallax-container treasures-home black">
  <div class="row container image-slick-home">
    <div class="data" data-slick='{"slidesToShow": <%= treasures.length %>, "slidesToScroll": 3, "arrows": true}'>
   <% treasures.forEach(function(treasure){ %>
    <div class="col s3">
      <div class="card card-home">
        <div class="card-image">
          <img id="treasure-image" src=" <%= treasure.img_url %> "/>
          <span class="card-title">
               <p><%= treasure.name %></p>
          </span>
        </div>
        <div class="card-content">
          Near: <%= treasure.zipcode %>
        </div>
      </div>
    </div>
  <% }); %>
    </div>
  </div>
</div>

<div class="section white index-search">
  <div class="row container">
  </div>
</div>

<div class="parallax-container foot">
  <div class="parallax">
    <img src="https://images.unsplash.com/photo-1417444900330-dc44c79af021?q=80&fm=jpg&s=83b3780f886b71ea31393032ce4caf9a">
  </div>
</div>
<footer class="black center">
  &copy; 2015 Sidewalk Sailors
</footer>
<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/slick.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
  </body>
</html>


