body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.index-logo{
  height: 300px;
}

.index-search{
  height:95px;
  padding: 0px;
  margin: 0px;
}

.search-row{
  margin-left: 45%;
  margin-top: 25px;
}

.nav-wrapper{
  background-color: black;
}

.join-form{
  padding-top: 15%;
  padding-bottom: 15%;
}

.join-image{
  background-image: url("https://images.unsplash.com/photo-1413834932717-29e7d4714192?q=80&fm=jpg&s=9acc056cc9fe1c2344d5387071d0dc50");
  background-size: cover;
}

/*.join-submit-button{
  background-color: red;
}*/

.rotate90 {
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}
