body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.index-logo{
  height: 300px;
}

.index-search{
  padding: 0px;
  margin: 0px;
}

.search-row{
  margin-left: ;
  margin-top: ;
  width: 100%;
  padding-left: 25%;
  padding-right: 5%;
}

.nav-wrapper{
  background-color: black;
}

.join-form{
  padding-top: 15%;
  padding-bottom: 15%;
}

.join-image{
  background-image: url("https://images.unsplash.com/photo-1413834932717-29e7d4714192?q=80&fm=jpg&s=9acc056cc9fe1c2344d5387071d0dc50");
  background-size: cover;
}

/*.join-submit-button{
  background-color: red;
}*/

.rotate90 {
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}

.new-treasure-container{
  margin: 5% 0% 5% 5%;
}

footer{
  padding-top: 10%;
  color:white;
}

.treasure-new-image{
  background-image: url("../images/coin.png");
  width: 792px;
  height: 619px;
  border-radius: 5px;
  background-size: cover;
}

.treasure-row{
  width: 130%;
}

#treasure-form{
  padding-right: 5%;
}

#treasure-image {
  height: 250px;
}

#treasure-show-image{
  height: 360px;
}

.foot{
  height: 300px;
}

.treasures-home{
  background-color:rgba(0,0,0,0);
  padding-top: 0%;

}
#photo-container {
    width: 1000px;
    overflow: hidden;
    background: white;
}

.data{
  padding-top: 5%;
}

.card-home{
  height: 370px;
  width: 400px;
}

.comment-board{
  border: 2px solid black;
}
.about-imgs {
  /*background-color: #A4C2BC;*/
  /*background-color: #9E0B16;*/
  background-color: #C0303F;
}

.chat-input-div{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.chat-input{
  width: 85%;
  height: 45px
}

.chat-area{
  border: 2px solid black;
  height: 400px;
}

.chat-submit{
  position: absolute;
  bottom: 0;
}

#map{
  border: 2px solid black;
  height: 500px;
}
