<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1><%= title %></h1>
   <p><%= title %></p>
<<<<<<< HEAD
<%= user.username %>
=======

>>>>>>> fc3eeb4965d0548f3121dc9569681b91ada63721
<% include ../partials/_footer %>
