<% include ../partials/_head %>
<% include ../partials/_nav %>
   <h1 class="center">Add Your Treasure</h1>
<div class="container new-treasure-container">
 <div class="row col s12 treasure-row">
    <div class="col s6" id="treasure-form">
      <form action="/treasures" method="POST">
        <div class="input-field">
          <input name="name" id="name" type="text" class="validate">
          <label for="name">Treasure Name</label>
        </div>
        <div class="input-field">
          <input id="img_url" type="text" class="materialize-textarea" name="img_url">
          <label for="img_url">Upload Image Url</label>
        </div>
         <div class="input-field">
          <textarea id="textarea1" name="description" class="materialize-textarea"></textarea>
          <label for="description">Description</label>
        </div>
         <div class="input-field">
          <input id="cross_street" name="cross_street" type="text" class="validate">
          <label for="cross_street">Cross Street</label>
        </div>
<!--         <div class="input-field">
          <input id="city" name="city" type="text" class="validate">
          <label for="city">City</label>
        </div>
         <div class="input-field">
          <input id="state" name="state" type="text" class="validate">
          <label for="state">State</label>
        </div>-->
         <div class="input-field">
          <input type="text" pattern="[0-9]*" maxlength="5" min="0" id="zipcode"  name="zipcode">
          <label for="zipcode">Zip</label>
        </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Add Treasure
         <i class="material-icons">stars</i>
      </button>
    </form>
  </div>
    <div class="col s6 treasure-new-image"></div>
  </div>
</div>
<% include ../partials/_footer %>
